/*FOOTER*/

footer {
  height: 350px;
  background-color: black;
  color: white;
  padding: 40px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -444;
  margin: 0;
}

footer a:hover {
  text-decoration: none;
}
.footer-distributed h3 {
  color: #ffffff;
  margin: 0;
}
.footer_text p{
   font-size: 18px;
}
.footer_text i{
   background-color: white;
   padding: 20px;
   border-radius: 20px;
   color: black;
   font-size: 18px;
   margin-bottom: 40px;
}
.footer_image{
  top: -30px;
}
.footer_icons i{
 padding: 20px;
 background-color: white;
 margin-bottom: 10px;
 border-radius: 50%;
 font-size: 25px;
}
.fa:hover {
  background: white;
  color: black;
}

.footer-distributed h3 span {
  color: #5383d3;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-name span {
  color: #65a6ff;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
}
