footer {
  background: black;
  color: white;
  padding: 40px 0;
  bottom: 0;
  width: 100%;
}

footer a:hover {
  text-decoration: none;
}

.space {
  margin-bottom: 20px;
}
.space .footer-links a{
  color: #338be3;
  margin-left: 10px;
  margin-right: 10px;
}
.space .footer-links a:hover{
  color: white;
}
.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Pangolin';
  margin: 0;
}

.fa-facebook {
  color: #3B5998;
  padding: 14px;
  background: white;
  border-radius: 5px;
  margin-left: 10px;
}

.fa-twitter {
  color: white;
  padding: 14px;
  background: #1DA1F2;
  border-radius: 50%;
  margin-left: 10px;
}

.fa-instagram {
  color: white;
  padding: 14px;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  border-radius: 5px;
  margin-left: 10px;
}

.fa-youtube {
  color: white;
  padding: 14px;
  background: red;
  border-radius: 200px;
  margin-left: 10px;
}

.fa:hover {
  background: white;
  color: black;
}
.footer-distributed h3{
  margin-bottom: 30px;
}

.footer-distributed h3 span {
  color: yellow;

}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-name span {
  color: #e22222;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
}
