body , html{
  margin: 0;
  padding: 0;
}

.navbar {
  margin-bottom: 0;
  background-color: white;
  z-index: 999999;
  border: 0;
  font-size: 15px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width:100%;
}
.navbar-brand img{
  padding:none;
  margin:none;
  height:250%;
  color: black;
}

.navbar-nav>li {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-default .navbar-nav>li>a {
  color: black;

}
.navbar-default .navbar-nav>li>a:hover {
  color: white;
}
.navbar-default .navbar-nav>li>a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '';
  color: transparent;
  background: rgb(72, 108, 244);
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:after,
.navbar-default .navbar-nav>li>a:before {
  transition: all .1s;
}
.navbar-default .navbar-nav>li>a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
  border-radius: 0px;
  border-bottom: 6px solid #64C1FF;
  background-color: lightgrey;
}
.navbar-default .navbar-navi>li>a {
  margin-top: 5px;
  color:#64C1FF;
  background-color: white;
  border-radius: 10px;
  transition: all 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar-default .navbar-navi>li>a:hover {
  color: black;
  box-shadow: none;
  background:#64C1FF;
}
.navbar-default .navbar-navi>li {
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar li a, .navbar .navbar-brand {
  color: #fff;
}

@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
@media(max-width:480px) {
  .navbar-brand img{
    height: 150%;
  }
}
.whole_continer{
  z-index: 9;
  position: relative;
  background: white;
  margin-bottom: 350px;
}
/* CONTENT ABOUT*/
section{
  height: 100px;
  background-color: #64C1FF;
}


}

 h1{
   letter-spacing: 1px;
   font: normal 30px 'Montserrat';
   margin-bottom: 30px;
}
h3{
  letter-spacing: 4px;
  font: normal 28px 'Montserrat';
}
p{
  
  margin-top: 0rem;
  line-height: 3.7777rem !important;
  margin-bottom: 2.7777rem !important;
  word-spacing: 0.5px;
  letter-spacing: 2px;
  font-family: 'PT Sans Narrow', sans-serif;
  font: normal 24px 'Pangolin';
}
