html, body {
  margin: 0;
}
.Mission_container{
  position: relative;
}
.parallaxcont {
  height: 800px;
  background-image: url("../Images/Other/mission.jpeg");
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  width: 100%;
  margin: none;
  padding: none;
  z-index: 8;
}

.layer {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: none;
  padding: none;
}
.content span img{
  color: white;
  position: absolute;
  height:400px;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -90%);
  color: white;
  font-size: 60px;
  margin: none;
  padding: none;
}
.content  .our{
  position: absolute;
  color: white;
  font-size: 80px;
  transform: translate(-240%, -200%);
  top:40%;
  left: 50%;
}
.content  .mission{
  position: absolute;
  color: white;
  font-size: 80px;
  transform: translate(20%, -200%);
  top:40%;
  left: 50%;
}
.content_text h3{
  padding: none !important;
  margin: none !important;
  position: absolute;
  color: white;
  transform: translate(-50%, 10%);
  top:50%;
  left: 50%;
}
