header{
  position: relative;
  height: 100vh;
  background: linear-gradient(to bottom,  #00369c 0%, #ffffff 35%);
  z-index: -5;
}
#layer-bg{
  height:100vh;
}
.paralayer{
  width:100%;
  position: absolute;
  bottom: 0;
  left: 0;
  will-change: transform;
}
@media screen and (max-width:500px) {
 header{
   height:50vh;
 }

}
@media screen and (max-width: 800px) {
  header{
    height:50vh;
  }
}
