header{
  position: relative;
  height: 100vh;
  background: linear-gradient(to bottom,  #00369c 0%, #ffffff 35%);
  z-index: -5;
}
#layer-bg{
  height:100vh;
}
#layer1{
  top: -200px;
}
#layer2{
    margin-top:100px;
    width:100%;
}
#layer3{
  top: -5%;
  width:100%;
}
#layer4{
  top: -5%;
  width:100%;
}
.paralayer{
  width:100%;
  position: absolute;
  bottom: 0;
  left: 0;
  will-change: transform;
}
@media screen and (max-width:500px) {
 header{
   height:50vh;
 }
 #layer1{
   top: 0px;
 }
 #layer3{
   top: 10%;
   width:100%;
 }
 #layer4{
   top: 10%;
   width:100%;
 }
}
@media screen and (max-width: 920px) {
  header{
    height:50vh;
  }
  #layer1{
    top: -10%;
  }

  #layer3{
    top: 10%;
    width:100%;
  }
  #layer4{
    top: 10%;
    width:100%;
  }
 }
